<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>799738723094-1mhbhmirrmsrn03g22h9dm18jtr6i6t3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.799738723094-1mhbhmirrmsrn03g22h9dm18jtr6i6t3</string>
	<key>API_KEY</key>
	<string>AIzaSyA4Yi5LbVlACewwxRHfui27D1EEyrnD6nU</string>
	<key>GCM_SENDER_ID</key>
	<string>799738723094</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.customercare</string>
	<key>PROJECT_ID</key>
	<string>customer-care-83b73</string>
	<key>STORAGE_BUCKET</key>
	<string>customer-care-83b73.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:799738723094:ios:5cfa8a593b74ba66afae37</string>
</dict>
</plist>